<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../Styles/main.css">
        <link rel="stylesheet" href="../Styles/language.css">

        <title>Welcome to Govan</title>
    </head>
    <body>
        <nav><!--Nav bar, may change how it is structured, may make it a more rubust dropdown with just the translate widget remaining outside the dropdown-->
            <div id="google_translate_element"></div>
            <div id="buttons">
                <div><a href="home">Home</a></div>
                <div><a href="history">History</a></div>
                <div><a href="environment">Environment</a></div>
                <div><a href="accommodation">Accommodation</a></div>
                <div><a href="resources">Resources</a></div>
                <div><a href="contact">Contact Us</a></div>
            </div>
        </nav>


        <script type="text/javascript" src="../Scripts/language.js"></script> <!--Script for intialising the Google Translate system alongside the WIP cookie solution for default languages-->

        <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> <!--Uses the third party api to create the translate widget-->
        <div class="wrapper">
        <p>
            <h1> Housing </h1>
            There are 3 houses avaible  for sale!
            <br>
            -  one 3 bedroom house at 300 month
            <br>
            - 2 4 bedrooms  house at 500 month
            <br>
            <br>

            Houses for rent are here!
            <br>
            -
            <br>
            -
            <br>
            -
            <br>
            <br>
            Hotels avalibele
            <br>
            - Govan hotels
            <br>
            -  Premeir in
            <br>
            - Discount hotels
            


            <br>
            <br> <!--for new line, paragraph-->
            <h2> Hospitals </h2>
            Govan town hospitals
            <br>
            -
            <br>
            -
            <br>
            -
            <br>
            <br>
            Close to Govan Hospitals
            <br>
            -
            <br>
            -
            <br>
            -

            <br>
            <br>
        </p>
        </div>
    </body>
    <footer>
        <p><b>Group 69</b>
        <br>
        Kelvin Kusi-Ampofo
        <br>
        Anthony Vincent
        <br>
        Michell Layzell
        <br>
        Nonthapat Naenudorn
        </p>
    </footer>
</html>
