<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../Styles/main.css">
        <link rel="stylesheet" href="../Styles/language.css">
        <link rel="stylesheet" href="../Styles/environment.css">
        <script type="text/javascript" src="../Scripts/sections.js"></script>

        <title>Govan Environment</title>
    </head>
    <body>
        <nav><!--Nav bar, may change how it is structured, may make it a more rubust dropdown with just the translate widget remaining outside the dropdown-->
            <div id="google_translate_element"></div>
            <div id="buttons">
              <div><a href="home">Home</a></div>
              <div><a href="history">History</a></div>
              <div><a href="environment">Environment</a></div>
              <div><a href="accommodation">Accommodation</a></div>
              <div><a href="resources">Resources</a></div>
              <div><a href="contact">Contact Us</a></div>
            </div>
        </nav>

        <script type="text/javascript" src="../Scripts/language.js"></script> <!--Script for intialising the Google Translate system alongside the WIP cookie solution for default languages-->
        <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> <!--Uses the third party api to create the translate widget-->

        <div class="weatherWidget" id="weatherApplication"></div>
		      <script>
			       window.weatherWidgetConfig =  window.weatherWidgetConfig || [];
			          window.weatherWidgetConfig.push({
				              selector:".weatherWidget",
				              apiKey:"CTLV7XMBHP9BEFW5JQZBDUCU9",
				              location:"Govan, Scotland",
				              unitGroup:"metric",
				              forecastDays:5,
				              title:"Govan, Scotland",
				              showTitle:true,
				              showConditions:true
		                  });

		         (function() {
		             var d = document, s = d.createElement('script');
		             s.src = 'https://www.visualcrossing.com/widgets/forecast-simple/weather-forecast-widget-simple.js';
		             s.setAttribute('data-timestamp', +new Date());
		             (d.head || d.body).appendChild(s);
		             })();
	               </script>

        <div class="sections">
          <button id="climate" onclick="showDiv(this.id)">Climate</button>
          <button id="waste" onclick="showDiv(this.id)">Waste</button>
          <button id="transport" onclick="showDiv(this.id)">Transport</button>
          <button id="sanitation" onclick="showDiv(this.id)">Sanitation</button>
        </div>
        
          <div class="wrapper">
          <div class="section" id="climate2">
            
            <h2>Climate</h2>
			<h3>Weather</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend blandit ex nec luctus. Integer ac nunc lacinia ex tincidunt rutrum. In sapien nisi, lobortis vitae risus vel, eleifend pharetra nulla. Quisque felis turpis, tempus ut dui eget, interdum consectetur lectus. Mauris vitae pulvinar leo, nec finibus turpis. Suspendisse eu magna vitae eros porttitor placerat non tempor purus. Pellentesque leo libero, dapibus non congue suscipit, vehicula sit amet massa. Sed nec ipsum quis risus finibus elementum. Nulla aliquet in sem quis maximus. Ut sit amet mattis mi. Morbi molestie fermentum varius. Phasellus varius, massa id faucibus tincidunt, dolor mauris porttitor diam, et tincidunt odio velit quis magna. Donec eros justo, tristique nec erat vitae, maximus imperdiet mi. Etiam pellentesque magna mattis viverra iaculis.</p>
			<h3>River Clyde</h3>
            <p>Vestibulum porta, nibh sed feugiat fringilla, arcu sapien laoreet mauris, at mollis metus mi et lorem. Maecenas porta tincidunt leo et aliquam. Mauris non euismod augue. Maecenas eget suscipit mauris, eget aliquam libero. Nullam in metus in felis dictum laoreet sit amet id leo. Quisque augue lacus, finibus at erat ac, pharetra viverra leo. In vel leo convallis turpis vehicula tristique. Ut congue gravida euismod. Etiam cursus ex est, convallis tempor enim semper quis. Proin nec tincidunt dui, ut hendrerit massa.</p>
			<img src="../Images/clyde.png" style="width:100%; height:auto;"/>
          </div>
          <div class="section" id="waste2">
            <h2>Waste</h2>
              <h3>Public Disposal & Recyling Guide</h3>
              <div style="display:inline-block; width:100%; height:300px;"><p style="width:75%; height:auto;">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p><img src="../Images/bin.png"></img></div>
			  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d286582.732330191!2d-4.8782489500000255!3d55.86392260000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48884f53cdffdce3%3A0xa49b5f709960fa47!2sShieldhall%20Recycling%20Centre!5e0!3m2!1sen!2suk!4v1686767538786!5m2!1sen!2suk" style="border:0; float:left; width:100%; height:250px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			  <h3>Waste Collection</h3>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Phasellus vestibulum lorem sed risus. Orci phasellus egestas tellus rutrum. Non arcu risus quis varius quam quisque id diam. Sociis natoque penatibus et magnis dis. Habitasse platea dictumst quisque sagittis purus sit. Varius duis at consectetur lorem. Odio ut sem nulla pharetra diam sit. Commodo odio aenean sed adipiscing diam donec. Posuere ac ut consequat semper viverra nam libero justo laoreet. Consectetur purus ut faucibus pulvinar elementum integer.<a href="https://www.glasgow.gov.uk/forms/refuseandrecyclingcalendar/AddressSearch.aspx">Refuse/Recyling Calender</a></p>
            </div>
            <div class="section" id="transport2">
              <h2>Transport</h2>
              <h3>Bus Services</h3>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus <a href="https://www.firstbus.co.uk/greater-glasgow">First Bus Service</a></p>
              <div><a href="https://apps.apple.com/GB/app/id566586379?mt=8&ls=1&ct=fbw-first-bus-website"><img src="../Images/appstore.png" /></a><a href="https://play.google.com/store/apps/details?id=com.firstgroup.first.bus&referrer=fbw-first-bus-website"><img src="../Images/googleplay.png"/></a></a></div>
              <h3>Train Services</h3>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
              <h3>Taxi Services</h3>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus <a href="https://www.glasgowtaxis.co.uk/download-app/#:~:text=The%20free%20Glasgow%20Taxi%20app,pickup%20point%20in%20real%2Dtime.">Glasgow Taxis</a></p>
			  </div>
            <div class="section" id="sanitation2">
              <h2>Sanitation</h2>
              <h3>Scottish Waters</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend blandit ex nec luctus. Integer ac nunc lacinia ex tincidunt rutrum. In sapien nisi, lobortis vitae risus vel, eleifend pharetra nulla. Quisque felis turpis, tempus ut dui eget, interdum consectetur lectus. Mauris vitae pulvinar leo, nec finibus turpis. Suspendisse eu magna vitae eros porttitor placerat non tempor purus. Pellentesque leo libero, dapibus non congue suscipit, vehicula sit amet massa. Sed nec ipsum quis risus finibus elementum. Nulla aliquet in sem quis maximus. Ut sit amet mattis mi. Morbi molestie fermentum varius. Phasellus varius, massa id faucibus tincidunt, dolor mauris porttitor diam, et tincidunt odio velit quis magna. Donec eros justo, tristique nec erat vitae, maximus imperdiet mi. Etiam pellentesque magna mattis viverra iaculis.</p>
              <h3>Public Toilets</h3>
              <p>Vestibulum porta, nibh sed feugiat fringilla, arcu sapien laoreet mauris, at mollis metus mi et lorem. Maecenas porta tincidunt leo et aliquam. Mauris non euismod augue. Maecenas eget suscipit mauris, eget aliquam libero. Nullam in metus in felis dictum laoreet sit amet id leo. Quisque augue lacus, finibus at erat ac, pharetra viverra leo. In vel leo convallis turpis vehicula tristique. Ut congue gravida euismod. Etiam cursus ex est, convallis tempor enim semper quis. Proin nec tincidunt dui, ut hendrerit massa. <a href="http://www.toilet-map.info/glasgow">Toilet Map</a></p>
            </div>
        </div>
      </div>
    </body>
    <footer>
      <p><b>Group 69</b>
      <br>
      Kelvin Kusi-Ampofo
      <br>
      Anthony Vincent
      <br>
      Michell Layzell
      <br>
      Nonthapat Naenudorn
      </p>
  </footer>
</html>
