<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../Styles/main.css">
        <link rel="stylesheet" href="../Styles/language.css">

        <title>Welcome to Govan</title>
    </head>
    <body>
        <nav><!--Nav bar, may change how it is structured, may make it a more rubust dropdown with just the translate widget remaining outside the dropdown-->
            <div id="google_translate_element"></div>
            <div id="buttons">
                <div><a href="home">Home</a></div>
                <div><a href="history">History</a></div>
                <div><a href="environment">Environment</a></div>
                <div><a href="accommodation">Accommodation</a></div>
                <div><a href="resources">Resources</a></div>
                <div><a href="contact">Contact Us</a></div>
            </div>
        </nav>


        <script type="text/javascript" src="../Scripts/language.js"></script> <!--Script for intialising the Google Translate system alongside the WIP cookie solution for default languages-->

        <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> <!--Uses the third party api to create the translate widget-->

        <h1>GOVAN</h1>
        <p>Govan is an urban community located on the 
            south-side of the River Clyde. It is an area with a 
            rich history and heritage that has been shaped 
            by its physical waterfront location. It is one of the 
            most historically significant areas in Glasgow 
            that has been transformed across the years.
            <br>
            <br>
            This is your opportunity to explore the historic 
            significance of Govan and the experiences of refugees 
            and people seeking asylum arriving and living in the 
            community.
            <br>
            <br>
            For over 100 years, Govan was the undisputed 
            industrial powerhouse of the world’s shipbuilding 
            industry. The name Govan became synonymous with 
            shipbuilding. With shipbuilding came urbanisation 
            and the population rose from 9,000 in the 1860s to 
            approximately 150,000 in the 1950s.
            <br>
            <br>
            Following World War II and increased shipbuilding 
            competition from abroad, the industry dramatically 
            declined and the population decreased. Govan as a 
            result suffered social and economic deprivation, due to 
            its heavy reliance on shipbuilding, leaving abandoned 
            buildings and derelict land throughout. The River Clyde 
            that once drove rapid industrialisation is now a physical 
            barrier between Govan and Glasgow City Centre.
            <br>
            <br>
            Despite Govan experiencing economic and 
            physical decline over decades, opportunities in and 
            around Govan open up community aspirations for 
            environmental resilience, and economic and societal regeneration. 
            The community is actively working to 
            create a vibrant and prosperous future.
            <br>
            <br>
            <img src="../Images/Govan.png" alt="Govan">
            <h1>REFUGEES AND PEOPLE SEEKING ASYLUM </h1>
            Govan was one of the first places refugees and 
            people seeking asylum experienced when arriving in 
            Scotland. The Greater Govan area is still home to over 
            1,000 people seeking asylum. Due to the unsettling 
            nature of dispersal and no choice accommodation 
            provisions, people are regularly forced to move, risking 
            losing the community networks and relationships they 
            have built. Globally the number of people forced to 
            leave their homes in 2021 was more than 84 million.
            <br>
            <br>
            When people seeking asylum arrive in Govan, they 
            have no right to work, cannot access the benefit 
            system and rely on public and charitable services like 
            food banks. They are often allocated housing that is 
            in poor condition. People seeking asylum are allowed 
            to work and apply for benefits after receiving refugee 
            status, which can take more than six months. Many 
            people spend a long period living their life in limbo 
            awaiting a decision, some for a period of more than 10 
            years.


        </p>
        

    </body>
</html>
