<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../Styles/main.css">
    <link rel="stylesheet" href="../Styles/language.css">
    <link rel="stylesheet" href="../Styles/resources.css">
    <script type="text/javascript" src="../Scripts/sections.js"></script>
    <title>Welcome to Govan</title>
</head>
    <body>
        <nav><!--Nav bar, may change how it is structured, may make it a more rubust dropdown with just the translate widget remaining outside the dropdown-->
            <div id="google_translate_element"></div>
            <div id="buttons">
                <div><a href="home">Home</a></div>
                <div><a href="history">History</a></div>
                <div><a href="environment">Environment</a></div>
                <div><a href="accommodation">Accommodation</a></div>
                <div><a href="resources">Resources</a></div>
                <div><a href="contact">Contact Us</a></div>
            </div>
        </nav>


        <script type="text/javascript" src="../Scripts/language.js"></script> <!--Script for intialising the Google Translate system alongside the WIP cookie solution for default languages-->

        <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> <!--Uses the third party api to create the translate widget-->

        <p>
          <div class="wrapper">
          <div class="sections">
            <button id="energy" onclick="showDiv(this.id)">Energy</button>
            <button id="food" onclick="showDiv(this.id)">Food</button>
            <button id="industry" onclick="showDiv(this.id)">Industry</button>
            <button id="digital" onclick="showDiv(this.id)">Digital</button>
          </div>
          
            <div class="section" id="energy2">
              <h2>Energy</h2>
              <h3>Renewable Engergy</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in luctus tortor. Aenean diam elit, viverra id libero a, auctor scelerisque eros. In interdum vitae nisl at ullamcorper. Vestibulum egestas varius risus, non lobortis velit suscipit rutrum. Etiam eu suscipit erat. Donec pretium sagittis nibh non feugiat. Etiam ultricies, neque quis egestas dignissim, velit neque venenatis nisl, tempor molestie metus eros accumsan felis. Sed eleifend nisl sed ullamcorper cursus. Quisque vel nisl ipsum. Vestibulum accumsan eros non enim consequat, vel tincidunt nibh molestie. Quisque justo magna, facilisis vitae augue a, tincidunt tincidunt mi. Donec et rutrum velit, sed tincidunt est. Morbi lobortis venenatis suscipit. Aenean sollicitudin tempus risus quis elementum.</p>
              <h3>Boilers & Energy Meters</h3>
              <p>Etiam augue risus, lobortis non lacinia eget, varius ac sem. Ut hendrerit, tortor sit amet iaculis posuere, diam ex consequat nisl, et molestie purus ex quis felis. Aliquam porta iaculis est, vel accumsan purus cursus eu. Etiam maximus eget felis quis ultricies. Praesent eget tincidunt velit. Duis sed auctor diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec viverra feugiat felis eget mattis. Nullam vitae nibh nisl. Duis eu sollicitudin erat. Suspendisse cursus vulputate libero a mattis. Aenean pulvinar at nulla quis egestas.</p>
            </div>
            <div class="section" id="food2">
              <h2>Food</h2>
              <h3>Food Banks</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in luctus tortor. Aenean diam elit, viverra id libero a, auctor scelerisque eros. In interdum vitae nisl at ullamcorper. Vestibulum egestas varius risus, non lobortis velit suscipit rutrum. Etiam eu suscipit erat. Donec pretium sagittis nibh non feugiat. Etiam ultricies, neque quis egestas dignissim, velit neque venenatis nisl, tempor molestie metus eros accumsan felis. Sed eleifend nisl sed ullamcorper cursus. Quisque vel nisl ipsum. Vestibulum accumsan eros non enim consequat, vel tincidunt nibh molestie. Quisque justo magna, facilisis vitae augue a, tincidunt tincidunt mi. Donec et rutrum velit, sed tincidunt est. Morbi lobortis venenatis suscipit. Aenean sollicitudin tempus risus quis elementum.</p>
                <h4>Govan Pantry</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2238.9448253488076!2d-4.314576784065144!3d55.86362368058308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48884687632eadf1%3A0x8ac783e694082093!2sGovan%20Home%20%26%20Education%20Link%20Project!5e0!3m2!1sen!2suk!4v1686791942714!5m2!1sen!2suk"  style="border:0; float:left; width:100%; height:250px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <h3>Saturday Market</h3>
                <p>Nam et iaculis neque. Nullam facilisis dignissim elementum. Integer et scelerisque lacus. Morbi molestie justo purus, sed luctus justo eleifend in. Aliquam rutrum augue posuere elit posuere, sit amet interdum neque pellentesque. Donec luctus ultricies orci quis tempor. Quisque sed aliquam sapien. Etiam tristique, metus vitae semper mollis, nulla ante dignissim ipsum, ac euismod ligula orci sit amet velit. Phasellus risus nulla, gravida a lacinia vitae, maximus in quam. Morbi mollis est ut risus mattis, id pharetra justo auctor. Aliquam tincidunt dui at urna lacinia, sit amet aliquet risus scelerisque. Nulla eget turpis dui. Donec quis mattis erat. Etiam congue lorem sit amet fringilla molestie.</p>
              </div>
              <div class="section" id="industry2">
                <h2>Industry</h2>
                <h3>Economy</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in luctus tortor. Aenean diam elit, viverra id libero a, auctor scelerisque eros. In interdum vitae nisl at ullamcorper. Vestibulum egestas varius risus, non lobortis velit suscipit rutrum. Etiam eu suscipit erat. Donec pretium sagittis nibh non feugiat. Etiam ultricies, neque quis egestas dignissim, velit neque venenatis nisl, tempor molestie metus eros accumsan felis. Sed eleifend nisl sed ullamcorper cursus. Quisque vel nisl ipsum. Vestibulum accumsan eros non enim consequat, vel tincidunt nibh molestie. Quisque justo magna, facilisis vitae augue a, tincidunt tincidunt mi. Donec et rutrum velit, sed tincidunt est. Morbi lobortis venenatis suscipit. Aenean sollicitudin tempus risus quis elementum.</p>
                <h3>Job Searching</h3>
                <p>Integer egestas nisl ex, a suscipit lorem viverra a. Ut id fermentum nisl. Fusce et facilisis libero. In viverra posuere nisi, at tempor urna scelerisque id. Praesent aliquam diam nec hendrerit lobortis. Vestibulum sed ligula at orci porta vestibulum eu nec nulla. Maecenas mattis non nunc vel facilisis. Quisque ipsum neque, aliquet sit amet est a, consequat hendrerit lorem. Vivamus non dui ligula. Praesent vestibulum metus ut odio elementum, sit amet interdum metus rutrum. Curabitur congue nisi id ligula vulputate, ut mattis ligula tristique. Mauris massa erat, faucibus lacinia augue sed, vulputate eleifend enim. Nullam convallis viverra sem ultricies tincidunt. Vestibulum feugiat neque ultricies, consequat nisl viverra, molestie lacus.</p>
              </div>
              <div class="section" id="digital2">
              <h3>Mobile Data Services</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sodales risus at enim volutpat euismod. Quisque sit amet bibendum erat. Suspendisse potenti. Donec nisl metus, scelerisque a odio eget, mattis rutrum ipsum. Ut porttitor lacus consectetur, vestibulum velit ut, porttitor odio. Duis sit amet varius sapien. Praesent eros nisl, pellentesque eget feugiat at, placerat ut velit.</p>
              <h3>Essential Digital Skills</h3>
              <p>Ut et blandit quam. Maecenas at lorem libero. Morbi et tellus id nulla malesuada consectetur. Ut commodo felis vel orci luctus vestibulum. Nullam semper lacinia arcu in lobortis. Ut sit amet pulvinar nunc. Vivamus vulputate ante quis eleifend facilisis. Duis mollis libero sit amet imperdiet iaculis. Pellentesque tempor, tortor at volutpat blandit, lectus erat rhoncus tellus, in maximus felis nisi et nisl.</p>
              <h3>Digital Lending Libraries</h3>
              <p>Maecenas non egestas tellus, quis sollicitudin turpis. Vivamus vehicula purus tellus, eu faucibus massa tristique ac. Morbi venenatis rutrum nibh at finibus. Nam malesuada metus ac eros blandit sodales. Maecenas pretium ultricies nulla a pulvinar. Quisque in lacus sem. Duis ut nisl porttitor, hendrerit nulla sit amet, condimentum ligula. Fusce tellus magna, vehicula sed semper ac, laoreet et ex. Nulla sed hendrerit lacus. Sed sodales dui ac egestas cursus. Donec maximus dignissim nisl quis pretium. Etiam faucibus vitae lacus a lacinia. Morbi pulvinar, ligula vel porta vulputate, enim velit mattis tortor, eu feugiat risus erat non tortor. Vestibulum feugiat, lorem vel iaculis euismod, eros turpis finibus leo, eget semper dui justo vitae sapien. Sed quis leo eu mauris dapibus faucibus eget vitae nulla.</p>
              </div>
          </div>
        </p>
    </body>
    <footer>
      <p><b>Group 69</b>
      <br>
      Kelvin Kusi-Ampofo
      <br>
      Anthony Vincent
      <br>
      Michell Layzell
      <br>
      Nonthapat Naenudorn
      </p>
  </footer>
</html>
