.section{
  display: none;
}
.sections{
  width: 100%;
}

.sections button{
  width: 25%;
  float: left;
  overflow: hidden;
  border: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 15px;
}

.sections button:hover{
  background: var(--tri);
}

#transport2 img{
    width: 200px;
    height:auto;
}



#waste2 p {
	float: left;
}

#waste2 img{
    float: right;
	display:inline;
	width:200px;
	height:auto;
}